/src/main/resources/axee.stl
/src/main/resources/forsunka.stl
/src/main/resources/stone2.stl
/src/main/resources/tea_norm.stl
/src/main/resources/test.stl
/point clouds/
/models (with triangles)/
/out/
